input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
    width: 30px;
    height: 30px;
}

input[type=number] {
    width: 160px;
    height: 56px;
    outline: 0;
    border-radius: 8px;
    border: 1px solid rgb(170, 163, 163);
    padding: 10px 20px;
}
